/* .container{
    width: 75%;
    height: 130vh;
    margin: auto;
    margin-top: auto;
}

@media screen and (max-width:768px) {
    .container{
        height: 50vh;
        padding: 0px;
       
    }
} */